@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

@mixin flex($flex, $x, $y) {
  display: $flex;
  justify-content: $x;
  align-items: $y;
}
